<form action="/admin/createDepartmentAccount" method="post" id="formCreateAccount">
    <input type="checkbox" id="modal-create-account">
    <label for="modal-create-account" class="layer-hidden-close-modal"></label>
    <div class="modal-create-account">
        <label for="modal-create-account" class="modal-close">
            <ion-icon name="close"></ion-icon>
        </label>
        <h2 class="modal-header">
            Create a new account
        </h2>
        <div class="modal-content">
            <div class="modal-content-username">
                <label class="bold" for="">Username</label> <br>
                <input type="text" placeholder="Username..." name="username" id="username">
            </div>
            <div class="bold">Department</div>
            <div class="department-list">
                <div class="department-item">
                    {{!-- <input type="checkbox" name="department[]" value="pcthssv">
                    <label>Phòng CTHSSV</label> --}}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn-create">Create</button>
        </div>
    </div>
</form>