<input type="checkbox" id="modal-delete-post" hidden>
<label for="modal-delete-post" class="layer-hidden-close-modal hidden-modal-delete-comment"></label>
<div class="modal-delete-post">
    <label for="modal-delete-post" class="modal-close">
        <ion-icon name="close"></ion-icon>
    </label>
    <h2 class="modal-header">
        Delete
    </h2>
    <p class="modal-content">
        Are you sure you want to delete this post?
    </p>
    <hr>
    <div class="modal-footer">
        <button type="submit" id="btnDeletePost" class="btn-delete">Delete</button>
        <label for="modal-delete-post" class="btn-cancel">Cancel</label>
    </div>
</div>