<input type="checkbox" id="modal-delete-comment" hidden>
<label for="modal-delete-comment" class="layer-hidden-close-modal"></label>
<div class="modal-delete-comment">
    <label for="modal-delete-comment" class="modal-close">
        <ion-icon name="close"></ion-icon>
    </label>
    <h2 class="modal-header">
        Delete
    </h2>
    <p class="modal-content">
        Are you sure you want to delete?
    </p>
    <hr>
    <div class="modal-footer">
        <div type="submit" class="btn-delete btnDeleteComment">Delete</div>
        <label for="modal-delete-comment" class="btn-cancel">Cancel</label>
    </div>
</div>