<form action="/update" method="post" enctype="multipart/form-data" id="formUpdateInfor">
    <input type="checkbox" id="modal-update-infor" hidden>
    <label for="modal-update-infor" class="layer-hidden-close-modal"></label>
    <div class="modal-update-infor">
        <label for="modal-update-infor" class="modal-close">
            <ion-icon name="close"></ion-icon>
        </label>
        <h2 class="modal-header">
            Update information
        </h2>
        <div class="modal-content">
            <div class="form-group">
                <input type="text" placeholder=" " name="username" id="name" value="{{user.username}}">
                <label for="">Display Name</label>
            </div>
            <div class="form-group">
                <input type="text" placeholder=" " name="class" id="class" value="{{user.class}}">
                <label for="">Class</label>
            </div>
            <div class="form-group">
                <input type="text" placeholder=" " name="faculty" id="faculty" value="{{user.faculty}}">
                <label for="">Faculty</label>
            </div>
            <div class="form-file">
                <label for="file">Avatar</label>
                <input type="file" id="file" name="image" hidden>
                <label class="custom-file" for="file">Select a file</label>
                <img id="file-select-preview" src="{{user.avatar}}" alt="">
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn-change">Update</button>
        </div>
    </div>
</form>