<div class="login">
    <div class="login-form">
        <form action="./loginByAccount" method="post" id="loginForm">
            <img srcset="/images/logo.png 2x" alt="">
            <h1>Login</h1>
            <div class="form-group">
                <input type="text" placeholder=" " name="username" id="username">
                <label for="username">Username</label>
            </div>
            <div class="form-group">
                <input type="password" placeholder=" " name="password" id="password">
                <label for="password">Password</label>
            </div>
            <div class="form-group">
                <button>Sign In</button>
                <ion-icon name="arrow-forward-outline"></ion-icon>
            </div>
        </form>
        <a href="/login-google">
            <ion-icon name="logo-google"></ion-icon> SingIn Using Google Account
        </a>
    </div>
</div>