<div class="home-newpost">
    <div class="avatar-sm">
        <img src={{account.avatar}} alt="">
    </div>
    <label for="modal-create-newpost" class="input-post">What's on your mind?...</label>
</div>
{{> modals/createNewPost}}