{{> header/department}}
{{> modals/createNotification}}
<div id="notifications-page"></div>
<div id="socket-page"></div>
<div class="wrapper">
    <div class="notifications">
        <div class="notifications-header">
            <h2>List of notification</h2>
        </div>
        <label for="modal-create-notification" class="account-add">
            New <ion-icon name="add-circle"></ion-icon>
        </label> <br>
        <div class="notifications-content">
            <div class="notifications-listpage">
                <ul>
                    <li class="notifications-page notifications-active">
                        <a href="">1</a>
                    </li>
                    <li class="notifications-page">
                        <a href="">2</a>
                    </li>
                    <li class="notifications-page">
                        <a href="">3</a>
                    </li>
                    <li class="notifications-page">
                        <a href="">4</a>
                    </li>
                    <li class="notifications-page">
                        <a href="">5</a>
                    </li>
                    <li class="notifications-page">
                        <a href="">6</a>
                    </li>
                    <li class="notifications-page">
                        <a href="">7</a>
                    </li>
                    <li class="notifications-page">
                        <a href="">8</a>
                    </li>
                    <li class="notifications-page">
                        <a href="">9</a>
                    </li>
                    <li class="notifications-page">
                        <a href="">10</a>
                    </li>
                    <li class="notifications-page">
                        <a href="">11</a>
                    </li>
                </ul>
            </div>
            <ul class="notifications-list">
                {{#each my_notifications}}
                {{> notification}}
                {{/each}}
            </ul>
        </div>
    </div>
    .
</div>