.read-all-post {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
#linkYoutubeEdit {
    margin: 4px 0;
    padding: 8px 8px;
    border: 1px solid $grayColor;
    outline: none;
}
.click-to-see-comment {
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}
