$primaryColor: #4796ff;
$primaryColor: #006fd6;
// $primaryColor: red;
$secondaryColor: #28c76f;
$thirdColor: #de4313;
$invalidColor: #ea5456;
$grayColor: #ebebeb;
$darkGrayColor: #676767;
$darkestGrayColor: #202020;
$whiteColor: #fff;
$fontSize: 16px;
$purpleColor: #6a5af9;
$headerHeight: 60px;
