{{> header/user}}
<div id="notifications-page"></div>
<div id="socket-page"></div>
<div id="role-user">student</div>
<div class="wrapper">
    <div class="notification">
        {{!-- <div class="notification-operation">
            <div class="notification-delete notification-item">Delete<ion-icon name="trash"></ion-icon>
            </div>
            <div class="notification-edit notification-item">Edit<ion-icon name="create"></ion-icon>
            </div>
        </div> --}}
        <h2 class="notification-title text-center">
            {{notification.title}}
        </h2>
        <div class="notification-data">
            {{notification.date}}
        </div>
        <div class="notification-content">
            {{notification.content}}
        </div>
    </div>
</div>