{{> header/user}}
{{!-- {{> modals/createNotification}} --}}
<div id="notifications-page"></div>
<div id="socket-page"></div>
<div id="role-user">student</div>
<div class="wrapper">
    <div class="notifications">
        <div class="notifications-header">
            <h2>List of notification</h2>
            <a href="/notify-departments">Notification classification </a>
        </div>
        {{!-- <label for="modal-create-notification" class="account-add">
            New <ion-icon name="add-circle"></ion-icon>
        </label> <br> --}}
        <div class="notifications-content">
            <div class="notifications-listpage">
                <ul>
                    {{{checkPage count page category department}}}
                    {{!-- <li class="notifications-page notifications-active">
                        <a href="">1</a>
                    </li> --}}

                </ul>
            </div>
            <ul class="notifications-list">
                {{#each first_10_notifications}}
                {{> notification}}
                {{/each}}
            </ul>
        </div>
    </div>
    .
</div>