{{> header/user}}
<div id="notification-page"></div>
<div id="socket-page"></div>
<div id="role-user">student</div>
<div class="wrapper">
    <div class="notifications-classification">
        <div class="notifications-header">
            <h2>List of Department</h2>
        </div>
        <div class="notifications-content">
            <ul class="notifications-list-department">
                <li class="notifications-department">
                    <a href="#">
                        <img src="/images/department/kcntt.png" alt="">
                        <div class="department-name">
                            Khoa Cong Nghe Thong Tin
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>